@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
  margin:0;
  padding:0;
  min-width: 1000px;
  width: 100%;
  font-family: 'Gaegu', cursive;
  font-size: 120%;
}

#map {
  position:absolute;
  top:0;
  left: 30%;
  bottom:0;
  width:70%;
}

#locations {
  position: absolute;
  width: 30%;
  height: auto;
  background-color: #fff;
}

h2#title {
  text-align: center;
  color: #009933;
  letter-spacing: 5px;
  text-decoration: underline;
  font-family: 'Gaegu', cursive;
  font-size: 35px;
}

h3 {
  text-align: center;
  color: #009933;
  letter-spacing: 5px;
  text-decoration: underline;
  font-family: 'Gaegu', cursive;
  font-size: 30px;
}

.mapboxgl-popup {
     max-width: 400px;
     font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

.ltext {
  margin: 0;
}

.item {
  padding-bottom: 20px;
}

.place {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 5px;
  color: green;
}

.place:hover {
  color:  #004d1a;
}
