body {
  margin:0;
  padding:0;
  min-width: 1000px;
  width: 100%;
  /* overflow: hidden; */
}

#map {
  position:absolute;
  top:0;
  left: 30%;
  bottom:0;
  width:80%;
}

#locations {
  position: absolute;
  width: 10%;
  height: auto;
  background-color: #fff;
}

.mapboxgl-popup {
     max-width: 400px;
     font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

.ltext {
  margin: 0;
}
