body {
  margin:0;
  padding:0;
  width: 100%;}

#map {
  position:absolute;
  top:0;
  left: 30%;
  bottom:0;
  width:70%; }

#locations {
  position: absolute;
  width: 30%;
  height: auto;
  background-color: #fff;
}

.mapboxgl-popup {
     max-width: 400px;
     font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }
